# Database
POSTGRES_USER=youruser
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=hist_data_ingestor

# App API Keys
IB_API_KEY=your_ib_api_key
DATABENTO_API_KEY=your_databento_api_key

# (Optional) pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin